@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Poppins:wght@100&family=Source+Sans+3:wght@200&display=swap");

body {
  background-color: greenyellow;
  margin: 0;
  padding: 0;
}
.headerarea {
  background: #054332 url("../images/bg.png");
  padding-bottom: 100px;
}
.menuarea {
  background: rgba(182, 201, 174, 0.7);
  padding: 20px 0 20px 100px;
}
.menuarea i {
  color: #014b40;
  font-size: 20px;
  padding: 10px;
}
.nav-link {
  text-align: center;
  color: #014b40 !important;
  font-family: "Poppins", sans-serif;
}
.nav-item {
  padding-left: 20px;
}
.serenity {
  color: white;
  margin: 50px 0 0 0;
  padding-bottom: 140px;
}
.bigtext {
  font-family: "Open Sans", sans-serif;
  font-size: 60px !important;
  font-weight: bold;
}
.smalltext {
  padding-left: 40px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.serenity button {
  background: #014b40;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 5%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin-left: 40px;
  border: none;
}
.serenity a {
  color: white;
  text-decoration: none;
  padding: 30px;
}
.serenity i {
  color: white;
  padding: 10px;
  font-size: 15px;
}
.secondarea {
  background-color: white;
  text-align: left;
  padding: 50px 0 100px 0;
}
.secondarea h5 {
  color: #014b40;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold !important;
  padding: 50px 0 0px 80px;
}

.slidearea {
  background-color: white;
  margin: 0 60px 50px 60px;
}

.slidearea img {
  border-radius: 10px;
  width: 100%;
}
.carousel-control-next-icon {
  background: #fff url("../images/clarity_arrow-line.png") !important;
  color: white !important;
  border-radius: 50%;
  margin-right: -150px;
  opacity: 1 !important;
}
.carousel-control-prev-icon {
  background: #fff url("../images/clarity_arrow-line.png") !important;
  color: white !important;
  border-radius: 50%;
  margin-left: -150px;
  opacity: 1 !important;
  transform: rotate(180deg);
}
.carousel-indicators button {
  width: 30px !important;
  height: 10px !important;
  border-radius: 50%;
  background: #e6edec !important;
  opacity: 1 !important;
  margin-bottom: -1200px !important;
}
.carousel-indicators .active {
  background: #014b40 !important;
}
.carousel-indicators {
  margin-bottom: -2rem;
}
.box {
  position: relative;
}
.box .details {
  display: none;
}
.box:hover .details {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  backdrop-filter: blur(3px);
  display: block;
}
.details p {
  text-align: left;
  padding-left: 20px;
  color: white;
}
.details button {
  border: solid white 1px;
  border-radius: 10%;
  padding: 5px 10px;
  margin-top: 20px;
  margin-left: 20px;
}

.searcharea {
  padding: 68px 0;
  background-image: url("../images/searcharea.png");
  background-size: cover;
}
.searcharea i {
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
  text-align: right;
}
.searcharea p i {
  color: #014b40;
  background-color: white;
}

.searcharea input {
  width: 992px;
  height: 60px;
  border-radius: 10px;
  padding: 0px 0px 0 27px;
  border: none;
}
.searcharea input::placeholder {
  color: #54867e;
}

.colorarea {
  background-color: white;
  padding: 50px 0 100px 0;
}
.colorarea {
  background-color: white;
  text-align: left;
  padding: 50px 0 100px 0;
}
.colorarea h5 {
  color: #014b40;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding: 50px 0 0px 80px;
}
.writtenarea h5 {
  color: #014b40;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding: 50px 0 0px 80px;
}

.viewall {
  text-align: right;
  padding-right: 100px;
}
.viewall button {
  text-align: right;
  color: #014b40;
  border: none;
  background-color: white;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  padding: 50px 0 50px 0;
}
.colorarea p {
  color: #014b40;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}
.colorarea button {
  color: #014b40;
  border: none;
  background-color: white;
  font-size: 24px;
}
.colorarrival {
  margin: 50px 60px 0 60px;
}
.colorarrival img {
  border-radius: 10px;
  margin: 0 20px 0 20px;
  width: 100%;
}

.servicearea {
  padding-bottom: 50px;
  background-color: white;
}
.service {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
    url("../images/modern-living-room-interior-with-sofa-green-plants-lamp-table-dark-wall-background\ 1.png");
  background-size: cover;
  border-radius: 20px;
  /* margin: 70px; */
  
}
.servicearea h2 {
  color: white;
  text-align: center;
  font-family: "Open Sans";
  font-size: 44px;
  padding: 100px 0 0 0;
  letter-spacing: 0.3px;
}
.servicearea p {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  color: white;
}
.servicearea ul {
  list-style: none;
  text-align: center;
  color: white;
  padding-bottom: 200px;
}
.servicearea ul li a:link,
.servicearea ul li a:visited {
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.servicearea i {
  color: white;
}

.footerarea {
  background-color: #014b40;
  padding: 50px 0;
}
.fourcolumn {
  background-color: #014b40;
}
.fourcolumn p {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #99b7b2;
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
}
.footerarea ul {
  list-style: none;
  margin: 0;
  padding: 10px 0 0 0;
}
.footerarea li a {
  text-decoration: none;
  color: #99b7b2 !important;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400 !important;
  padding: 10px 0 10px 0;
}
.footerarea ul li {
  margin: 20px 0;
}

.fourcolumn h3 {
  color: white;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  margin-bottom: 30px;
}
.fourcolumn form {
  background-color: #1a5d53;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
}
.fourcolumn a {
  color: white;
}
.fourcolumn form input {
  background-color: #1a5d53;
  border: none;
  color: #99b7b2;
  font-size: 20px;
  font-family: "Source Sans 3", sans-serif;
}
.fourcolumn form ::placeholder {
  color: white;
}
.fourcolumn form i {
  background-color: #014b40;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 40px;
  font-size: 15px;
}
.contact-list {
  color: white;
}
.rmenu {
  color: #99b7b2;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  padding-top: 20px;
  margin: 20px 0;
}
.rmenu i {
  padding: 20px;
  background-color: #1a5d53;
  color: white;
  border-radius: 50%;
  font-size: 20px;
}
.rmenu p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  margin: 0 !important;
  padding: 0 !important;
}
.rmenu a {
  color: white !important;
}
.lowerarea {
  color: white;
  margin: 30px 0px;
  background-color: #1a5d53;
  border-radius: 10px;
  padding: 20px;
}
.lowerarea form {
  font-size: 16px;
  font-family: "Source Sans 3", sans-serif;
}
.lowerarea i {
  padding: 0 10px;
  font-size: 25px;
}
.lowerarea a {
  color: white;
}
.social ul {
  list-style: none;
}
.social ul li {
  float: left;
}
.plantseedsarea {
  background-color: white;
  text-align: left;
  padding: 0px 0 100px 0;
}
.plantseedsarea h5 {
  color: #014b40;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  padding: 0px 0 0px 100px;
}
